#page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#content-wrap {
    flex: 1;
    padding-bottom: 75px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    display: block;
    text-align: center;
    color: black;
    background-color: gray;
    border: 3px solid black;
    border-radius: 40px;
    box-sizing: content-box;
    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 0 0 white,
        -1px 0 0 white,
        0 1px 0 white,
        0 -1px 0 white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 75px;
}

header h1 {
    font-size: clamp(16px, 4vw, 48px);
    /* Minimum 16px, fluid between, maximum 48px */
    white-space: nowrap;
    /* Prevents text from wrapping */
}

.pattern-left,
.pattern-right {
    width: 700px;
    height: 150px;
}

article {
    text-align: center;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding: 10px;
    background-color: #d3d3d3;
    color: black;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-content small {
    margin: 0;
}

.footer-content img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#col1,
#col2 {
    text-align: center;
    color: black;
    background-color: rgb(88, 88, 88);
    color: #ffffff;
}

#col2 {
    background-color: rgb(97, 97, 97);
}

.container1 {
    width: 99.1%;
}

.custom-column {
    float: left;
    padding: 10px;
}

.custom-column.side {
    width: 25%;
}

.custom-column.middle {
    width: 50%;
}

.custom-row::after {
    content: "";
    display: table;
    clear: both;
}