<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <!--css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: #ffffff;">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                Azariy Azarkh
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color: #ffffff;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #ffffff;">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="color: #ffffff;">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-container">
        <div id="content-wrap">
            <div class="header-container">
                <img src="{{ url_for('static', filename='images/pattern_r.png') }}" alt="Left Pattern"
                    class="pattern-left">
                <header>
                    {% block header %}
                    <h1 id="header-text">Heading</h1>
                    {% endblock %}
                </header>
                <img src="{{ url_for('static', filename='images/pattern_l.png') }}" alt="Right Pattern"
                    class="pattern-right">
            </div>

            <article>
                {% block article %}
                <p>Article content goes here.</p>
                {% endblock %}
            </article>
        </div>

        <footer id="footer">
            <div class="footer-content">
                <small><b><i>Powered by Yasinworks</i></b></small>
                <a href="{{ url_for('yasinvideo')}}" target="_blank">
                    <img src="{{ url_for('static', filename='images/Yasin.webp') }}" alt="Yasinworks">
                </a>
            </div>
        </footer>
    </div>






    
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <!--js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>



</body>

</html>